# Application
# APP_MODE have to variants: "release" & "dev"
APP_MODE=dev
# Server
SERVER_ADDRESS=localhost:4000
# TLS/SSL
CERTIFICATE_PATH=/path/to/certificate
PRIVATE_KEY_PATH=/path/to/private-key
# Database
DATABASE_URL=postgres://postgres:password@localhost/life_calendar_db
# JWT
JWT_SECRET=your_jwt_secret_key
# Path to pg_dump on Windows
PG_DUMP_PATH_WINDOWS_WINDOWS="C:\\Program Files\\PostgreSQL\\17\\bin\\pg_dump.exe"

# Telegram Bot Token
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id